 p{
    color: darkblue;
    font-family: 'Times New Roman', Times, serif;
}

h1{
    font-family: 'Times New Roman', Times, serif;
   
}

img{
    width:500px;
    border-color: bisque;
}

.freepik :active{
width: 15px;
}